// footer
.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 3rem 0;
  }

  // footer logo box
  &__logo-box {
    text-align: center;
    margin-bottom: 10rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  // footer logo
  &__logo {
    width: 10vw;
    height: auto;
  }

  // footer navigation
  &__navigation {
    padding-top: 2rem;
    border-top: 1px solid $color-grey-light-2;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include respond(tab-port) {
        margin-right: 1.4rem;
      }
    }
  }

  // footer links
  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  // footer copyright
  &__copyright {
    padding-top: 2rem;
    border-top: 1px solid $color-grey-light-2;
    display: inline-block;
    width: 80%;
    float: right;
    text-align: center;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
