// animation move in left
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// animation move in right
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// animation move in bottom
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

// animation hide logo
@keyframes hideLogo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
